html,body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

.arg {
  display: none;
}

div#head_wrap {
  background: #27ae60;
  color: white;
  font-family: 'Lato', sans-serif;
  padding: 0 15px;
}

div#head_wrap h1 {
  display: inline-block;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.13em;
  margin: 18px 0;
  padding: 0;
  text-shadow: 0 1px 1px #888;
}

div#head_wrap ul {
  float: right;
  list-style: none;
  margin: 22px 0;
  padding: 0;
  text-transform: uppercase;
}

div#head_wrap ul li {
  display: inline-block;
  font-size: 16px;
  margin: 0 15px;
  padding: 0;
}

div#body_wrap {
  box-sizing: border-box;
  margin: auto;
  width: 1000px;
}



#question_list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.question_list_item {
  color: #555;
  cursor: pointer;
  font-family: "Lato";
  font-size: 24px;
  margin: 15px 0;
}

.question_list_item:hover {
  color: black;
}


#options_list {
  color: #666;
  list-style: none;
  margin: 10px 0;
  padding: 0;
}

#options_list li {

  cursor: pointer;
  display: inline-block;
  margin: 0 5px;
}

#options_list li:first-child {
  margin-left: 0;
}

#options_list li:hover {
  color: #222;
  text-decoration: none;
}

.bubble {
  border: 2px solid #999;
  border-radius: 5px;
  color: #666;
  padding: 10px 15px;
}

.bubble:hover {
  border: 2px solid #555;
  color: #222;
}
