#answer_list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.answer_list_item {
  border: #E7EDF2 solid 2px;
  border-radius: 5px;
  box-sizing: border-box;

  font-size: 20px;
  margin: 8px 0;
  padding: 15px;
  transition: 0.3s ease-out;
  word-wrap: break-word;
  width: 100%;
}

.answer_list_item[selected] {
  background: #354B5E;
  border: #354B5E solid 2px;
  color: white;
  transition: 0.3s ease-out;
}

.answer_list_item[disabled] {
  background: #FDFDFD;
  cursor: not-allowed;
  color: #888;
}

.answer_list_item[disabled]:hover {
  border: #E7EDF2 solid 2px;
}

.selectable {
  cursor: pointer;
}

.selectable:hover {
  border: #354B5E solid 2px;
}



.correct {
  background: #2DC76E;
  border: none;
}

.wrong {
  background: #E74C3C;
  border: none;
}




#check_button {
  background: #2DC76E;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  padding: 15px;
  text-align: center;
  transition: 0.3s ease-out;
  width: 30%;
}

#check_button:hover {
  background: #27AE60;
  transition: 0.3s ease-out;
}

#check_button[disabled] {
  background: #B8C3C4;
  cursor: not-allowed;
}


input.full {
  background: #FFFFFF;
  border: none;
  box-sizing: border-box;

  font-size: 24px;
  font-weight: 700;
  margin: 8px 0;
  padding: 15px 0;
  transition: 0.3s ease-out;
  word-wrap: break-word;
  width: 100%;
}
