body
{
  font-family: Montserrat;

  margin: 0;
  padding: 0;
}

a
{
  color: #444;
  text-decoration: none;
}

a:hover
{
  color: black;
}

p a
{
  color: #3498db;
}

p a:hover
{
  color: #256C9B;
}

div#header_outer
{
  background: #2ECC71;
  box-sizing: border-box;
}

div#header_inner
{
  margin: auto;
  padding: 20px 60px;
  width: 1200px;
}

h1, h2, h3
{
  font-weight: 700;
  margin: 0;
  padding: 0;
}

h1
{
  color: white;
  font-size: 48px;
}

div#bar_inner
{
  margin: auto;
  width: 1200px;
}

ul#breadcrumbs_bar
{
  display: inline-block;
  margin: 0;
  padding: 20px 0;
}

ul#breadcrumbs_bar li
{
  display: inline-block;
}

ul#breadcrumbs_bar li::after
{
  color: #444;
  content: ">";
  margin: 0 15px;
}

ul#breadcrumbs_bar li:last-child::after
{
  content: none;
}

ul#breadcrumbs_bar li a
{
  color: #444;
  text-decoration: none;
}

ul#breadcrumbs_bar li a:hover
{
  color: black;
}

ul#login_bar
{
  display: inline-block;
  float: right;
  margin: 0;
  padding: 20px 0;
}

ul#login_bar li
{
  color: #444;
  display: inline-block;
  margin: 0 20px;
}

div#body_outer
{
  box-sizing: border-box;
}

div#body_inner
{
  margin: auto;
  padding-top: 5px;
  width: 1200px;
}

h3
{
  color: #888;
  font-size: 20px;
}

h2
{
  font-size: 24px;
  font-weight: 400;
}

ul
{
  list-style: none;
  margin: 0;
  padding: 20px 0;
}

li
{
  font-size: 18px;
}

.box
{
  color: #555;
  cursor: pointer;
  display: inline-block;
}

.box:hover
{
  color: black;
}

li.box
{
  box-sizing: border-box;
  padding: 20px 15px;
  width: 900px;
}

.answer.notselected
{
  color: #999;
  cursor: not-allowed;
}

.answer.selected
{
  color: black;
}

.answer.correct
{
  color: #2ECC71;
}

.rect
{
  background: #666;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 20px;
  margin: 15px 0;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  width: 400px;
}

.rect:hover
{
  color: white;
  background: #555;
}

#submit_button
{
  background: #666;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 20px;
  padding: 15px;
  text-align: center;
  width: 400px;
}

#submit_button:hover
{
  background: #555;
}


input[type="email"],input[type="password"],input[type="text"]
{
  border: #D9D9D9 solid 1px;
  border-radius: 4px;
  display: block;
  font-family: Montserrat;
  font-size: 18px;
  margin: 15px 0;
  padding: 15px;
  width: 400px;
}

.row
{
  margin: 20px 0;
  width: 1000px;
  word-wrap: break-word;
}

a.question_label
{
  color: #555;
  font-size: 18px;
  text-decoration: none;
}

a.question_label:hover
{
  color: black;
}
